body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url(download.jpeg);
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    /* background: #fff; */
    padding: 20px;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 60px;
    color: #b03a2e;
    
   
    
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-section {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background: #fdf6e3;
    padding: 20px;
    border: 3px solid #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: bold;
    background-clip: padding-box;
    
}

h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 5px;
    background-color: #b03a2e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color:black;
}
